@using WebApplication1.Models;
@model LoginModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="/css/login.css" type="text/css" rel="stylesheet" />
    
    <script>
        function getUserName() {
            var field = document.getElementById('user');
            return field.value;
        }
        function getUserPass() {
            var field = document.getElementById('pass');
            return field.value;
        }
    </script>

</head>

<body>
    <div class="login-window">
        <h1 class="form-group">
            @ViewBag.Message
        </h1>

        <hr />

        <div class="form-group">
            <p>Логин</p>
            <input id="user" type="text" value="@Model.UserName" />
        </div>
        <div class="form-group">
            <p>Пароль</p>
            <input id="pass" type="password" value="@Model.Password" />
        </div>
        <div class="form-group">
            <input type="button" value="Вход"
                   onclick="location.href =
                            '@Url.Action("Authenticate", "Login")' +
                            '?userName=' + getUserName() +
                            '&password=' + getUserPass()" />
        </div>
    </div>
</body>
</html>
